.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
}

.slick-dots {
  bottom: 5px;
}

.slick-dots li button:before {
  font-size: 9px;
}

.slick-slide > div {
  height: 100%;
}

.slick-slide > div > div {
  display: inline-flex !important;
}
