.BrainhubCarousel,
.BrainhubCarousel__trackContainer,
.BrainhubCarousel__track {
  height: 100%;
}

.BrainhubCarousel__dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  padding-bottom: 1.5rem;
}

.BrainhubCarousel__dots .BrainhubCarousel__dot:before {
  width: 8px;
  height: 8px;
}
